<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav" align="center">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/linux.html"><i class="fa fa-linux"></i>Linux</a></li>
            <li><a href="/ns-3.html"><i class="fa fa-folder"></i>NS-3</a></li>
            <li><a href="/misc.html"><i class="fa fa-archive"></i>Miscellaneous</a></li>
	    <li><a href="/publications.html"><i class="fa fa-file"></i>Projects</a></li>
	    <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
      </ul>
    </div>
  </nav>
</header>
